<h3>Lista de informes Personales </h3>
<hr class="my-4 bg-secondary">
<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{rutaImgUser}}" alt="logos de legendary evolution" width="90" height="90"
                            class="rounded-circle mx-auto d-block">
                    </div>
                    <div class="col-md-9">
                        <h4>{{nombreUser}} <br>
                            DNI: {{dniUser}} <br>
                            {{areaUser}}</h4>
                    </div>
                </div>

                <hr class="my-4 bg-secondary">
                <p>
                    N° informes presentados <br>
                    N° informes pendientes <br>
                    Informes del dia presentado
                </p>
            </div>
            <div class="card-footer">
                <a href="" class="btn btn-outline-info btn-block" role="button" data-toggle="modal"
                    data-target="#editUsers">Editar Usuario</a>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-striped table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>N°</th>
                    <th>Inf.</th>
                    <th>Titulo</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>11</th>
                    <th>Taller html</th>
                    <th>Tabla e imagenes</th>
                    <th>26/06/2020 9:27am</th>
                    <th><a href="#"><i class="fas fa-eye"></i></a></th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editUsers" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/users/edit/{{idUser}}?_method=PUT" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="idUser" value="{{idUser}}">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar nueva area</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="imagenPrevia">
                        <img src="{{rutaImgUser}}" alt="logos de legendary evolution" width="90" height="90"
                        class="rounded-circle mx-auto d-block mb-3">
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name="fotoUser">
                            <label class="custom-file-label" for="customFile">Selecione una imagen de perfil</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" name="dniUser" placeholder="Ingrese su DNI"
                                    value="{{dniUser}}">
                            </div>
                            <div class="col">
                                <select class="custom-select" name="perfilUser">
                                    <option value="{{perfilBoolean}}" selected>{{perfilNombre}}</option>
                                    <option value="1">Administrador</option>
                                    <option value="0">Usuario</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombreUser" placeholder="Ingrese su nombre y apellidos"
                            value="{{nombreUser}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="emailUser"
                            placeholder="Ingrese su usuario" value="{{emailUser}}">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <input type="password" class="form-control" name="passwordUser"
                                    placeholder="Ingrese nueva contraseña">
                            </div>
                            <div class="col">
                                <input type="password" class="form-control" name="passwordUserConfirm"
                                    placeholder="Confirme contraseña">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="custom-select" name="areaUser">
                            <option selected>{{areaUser}}</option>
                            {{#each areaList}}
                                <option value="{{tituloArea}}">{{tituloArea}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>