<h3>Lista de informes Personales </h3>
<hr class="my-4 bg-secondary">
<div class="row">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{rutaImgUser}}" alt="logos de legendary evolution" width="90" height="90"
                            class="rounded-circle mx-auto d-block">
                    </div>
                    <div class="col-md-9">
                        <h4><a id="nombrePersonal">{{nombreUser}}</a></h4>
                        <h5>Perfil: {{perfilNombre}} <br>
                            {{areaUser}}</h5>
                    </div>
                </div>

                <hr class="my-4 bg-secondary">
                <div style="overflow: hidden;">
                    <p style="float: left;">
                        N° informes presentados<br>
                        N° informes pendientes <br>
                        Informes del dia presentado
                    </p>
                    <p style="float: right;">
                        <span class="badge badge-pill badge-primary">{{numInformes}}</span><br>
                        <span class="badge badge-pill badge-warning">1</span><br>
                        {{#if informePresentado}}
                            <span class="badge badge-pill badge-primary">Presentado</span>
                        {{else}}
                            <span class="badge badge-pill badge-warning">No presentado</span>
                        {{/if}}
                    </p>
                </div>
            </div>
            <div class="card-footer">
                <a href="" class="btn btn-primary btn-block" role="button" data-toggle="modal"
                    data-target="#detallesUser">Datos del usuario</a>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <table id="tableInformeUser_DataTables" class="table table-striped table-hover table-sm responsive">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Inf.</th>
                    <th>Titulo</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <!-- Listar desde AJAX de ajaxUserPersonal.js -->
            </tbody>
            <tfoot>
                <tr>
                    <th>N°</th>
                    <th>Inf.</th>
                    <th>Titulo</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Acción</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- Modal de editar usuario-->
<div class="modal fade" id="detallesUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Datos de {{nombreUser}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-5">
                    <div id="imagenPrevia">
                        <img src="{{rutaImgUser}}" alt="logos de legendary evolution" width="90" height="90"
                        class="rounded-circle mx-auto d-block mb-3">
                    </div>
                    <div style="overflow: hidden;">
                        <p style="float: left;">
                            <strong> Nombre y apellidos: </strong><br>
                            <strong> DNI: </strong><br>
                            <strong> Perfil: </strong><br>
                            <strong> Usuario: </strong><br>
                            <strong> Area: </strong><br>
                            <strong> Estado: </strong>
                        </p>
                        <p style="float: right;">
                            {{ nombreUser }}<br>
                            {{ dniUser }}<br>
                            {{ perfilNombre }}<br>
                            {{ emailUser }}<br>
                            {{ areaUser }}<br>
                            {{ estadoUsuario }}
                        </p>
                    </div>
                </div>
        </div>
    </div>
</div>